@import "./normalize.css";

:root {
  --color-bg: #16161a;
  --color-form-bg: #242629;
  --color-border: #010101;
  --color-input-bg: #eeeeee;
  --color-font: #ffffff; 
  --color-btn-bg: #7f5af0;;
  --color-btn-bg-hover: #2CB67D;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen';
  background-color: var(--color-bg);
  color: var(--color-font);
}

/* tema light */
body[data-theme="light"] {
  --color-bg: #fffffe;
  --color-font: #16161a;
  --color-form-bg: #94a1b2
}