.app__form {
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-form-bg);
  border: 3px solid var(--color-border);
  border-radius: 10px;
  padding: 1.5rem;
}

.label__title {
  font-size: 1.3rem;
  font-weight: bold;
}

.input__box {
  height: 2rem;
  width: 100%;
  margin: .3rem 0 1rem;
  padding: 1rem .5rem;
  font-size: 1rem;
  background-color: var(--color-input-bg);
  border: 3px solid var(--color-border);
  border-radius: 5px;
}

.input__box:focus {
  outline: 1px solid var(--color-border);
}

.btn__calulate {
  font-size: 1.35rem;
  font-weight: bold;
  align-items: center;
  padding: .6rem;
  margin: .5rem 0 1rem;
  background-color: var(--color-btn-bg);
  color: var(--color-font);
	border: 3px solid var(--color-border);
  border-radius: 5px;
  cursor: pointer;
}

.btn__calulate:hover { 
  background-color: var(--color-btn-bg-hover);
}

.btn__calulate:focus { 
  outline: none;
}

.result {
  display: flex;
  align-items: center;
  justify-content: center;
}

.result__text {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  padding: .3rem;
  margin: 0;
}
