.color {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 0.8rem;
  background-color: transparent;
  border: 1px solid transparent;
}

.color__hotpink {
  background-color: hotpink;
}

.color__green {
  background-color: green;
}

.color__yellow {
  background-color: yellow;
}

.color__red {
  background-color: red;
}