:root {
  --color-bg: #16161A;
  --color-form-bg: #242629;
  --color-border: #010101;
  --color-input-bg: #D6D6D5;
  --color-font: #FFFFFE; 
  --color-btn-bg: #0B742A;
  --color-btn-bg-hover: #2CA44F;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen';
  background-color: var(--color-bg);
  color: var(--color-font);
}

/* tema light */
body[data-theme="light"] {
  --color-bg: #FFFFFF;
  --color-font: #16161A;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Component Header */
.app__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 320px;
  margin: 1em 0 1em;
}

.header__title {
  font-size: 2rem;
  margin: 0;
}

.btn-toggle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid #010101;
  background-color: #FFFFFF;
  margin: 0;
  cursor: pointer;
}

.btn-toggle:hover {
  background-color: var(--color-btn-bg-hover);
  transition: background-color 0.3s ease-out;
}

/* Component Form */
.app__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-form-bg);
  border-radius: 10px;
  border: 2px solid var(--color-border);
  padding: 1em;
  width: 80%;
  max-width: 320px;
}

.sex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.label__title {
  font-size: 1.3rem;
  font-weight: bold;
}

.sex__select,
.input__box {
  height: 2em;
  width: 100%;
  font-size: 1rem;
  border-radius: 3px;
  padding: 0 0.4rem;
  border: 1px solid var(--color-input-bg);
  background-color: var(--color-input-bg);
  margin: 0.3em 0 1em;
}

.sex__select:focus,
.input__box:focus,
.btn-calculate:focus {
  outline: 2px solid var(--color-border);
}

.btn-calculate {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5em;
  margin: 0.5em 0 1em;
  background-color: var(--color-btn-bg);
  color: #FFFFFF;
  border: 1px solid var(--color-btn-bg);
  border-radius: 5px;
  cursor: pointer;
}

.btn-calculate:hover { 
  background-color: var(--color-btn-bg-hover);
  border: 1px solid var(--color-btn-bg-hover);
}

.result {
  display: flex;
  align-items: center;
  justify-content: center;
}

.result__text {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.3em;
  margin: 0;
  background-color: transparent;
}

.result__circle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: blue;
  border: 1px solid blue;
  margin-left: 0.5em;
}

/* Component Table */
.app__table {
  margin-top: 1.5em;
  width: 90%;
  max-width: 360px;
  text-align: center;
  border: 1px solid white;
  background-color: var(--color-form-bg);
  border: 2px solid var(--color-border);
  font-size: 0.9rem;
}

th, td {
  border: 1px solid white;
  border: 2px solid var(--color-border);
}
